#banner {

}
#banner .banner_img{
	background: url(../../img/task7/banner_img.jpg);
	width:100%;
	height:690px;
	background-size: cover;           /*把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。*/
	padding-top:228px;                  /*填充文字距离top的距离*/
	padding-left: 116px;		
}
#banner .banner_img .title{
	font-size: 60px;
	color: white;
	font-family: "微软雅黑";
}
#banner .banner_img p{
	font-size: 21px;
	color: white;
	font-family: "微软雅黑";
	margin-top: 32px;
}
#banner .banner_img .start_btn{
	display: block;
	width:330px;
	height:63px;
	font-size: 30px;
	color: white;
	font-family: "微软雅黑";
	text-align: center;
	line-height:63px;
	background-color: #E74F4D;
	margin-top: 66px;
	cursor: pointer;                /*意思就是鼠标指针变成 手 的形状，和放到链接上面的鼠标指针一样。*/
	transition: all 0.5s;
}
#banner .banner_img .start_btn:hover{
	color: #E74F4D;
	background-color: white;
}
#banner .down_options{
	width:100%;
	height:250px;
	background-color: white;
	padding-top:44px;
	margin-left:1px;

}
#banner .down_options li{
	float:left;
	width:25%;
	height:100%;
	font-size: 14px;
	color:#787476;
	word-wrap: break-word;          /*允许自动换行，在长单词或 URL 地址内部进行换行。*/
	font-family: "黑体";
}
#banner .down_options .first{
  background: url(../../img/task7/round_icon.png) top center no-repeat;
}
#banner .down_options .second{
  background: url(../../img/task7/flag_icon.png) top center no-repeat;
}
#banner .down_options .third{
  background: url(../../img/task7/flower_icon.png) top center no-repeat;
}
#banner .down_options .forth{
  background: url(../../img/task7/four_icon.png) top center no-repeat;
}

#banner .down_options p{
	margin-top:89px;
	padding-left:82px;
	padding-right:82px;
	text-align: center;
	height:52px;
	border-right: 1px solid #787476;
}