		/*header区域*/
		#header{
		  width:100%;
		  height:57px;
		  line-height: 57px;
		  background-color: white;
		  border-bottom: 1px solid #E6E6E6;
		}
		#header .logo{
		  margin-left:60px;
		  font-size: 21px;
		  font-family: "黑体";
		  text-indent: 42px;
		  background:url(../../img/task7/logo.png) left center no-repeat;   /*水平位置：左；垂直居中；不循环*/
		}
		#header .login_btn{
			background: url(../../img/task7/user_icon.png) left center no-repeat;
			margin-right: 67px;
			text-indent: 19px;
			font-size: 14px;
			font-family: "微软雅黑";
			color:#E34F52;
		}
		#header .nav li{
			width:65px;
			height:100%;
			text-align: center;
			display: inline-block;
			margin-left: 44px;
			transition: all 0.2s;
		}
		#header .nav{
		  height:100%;
		  margin-right: 37px;
		}
		#header .nav li a:hover{
			color: black;
		}
		/*#header .nav li:hover a{
		  color: black;
		}*/             /*这两者的效果一样的*/
		#header .nav a{
			color: #7c7a82;
			font-family:"Microsoft YaHei";
			font-size: 14px;
			transition: all 0.5s;
		}
		#header .nav li:hover{
			border-bottom: 5px solid #E34E52;
			
		}
		.active{
		  border-bottom: 5px solid #E34E52;
		}
		#header .nav .active a{
		  color:#E34E52;
		}